/*========== GLOBAL STYLES ==========*/
:root {
    --blue-bios: #0200AB;
    --yellow-bios: #FFFF00;
    --red-bios: #FF0000;
    --white-bios: #ffffff;
    --black-bios: #000000;
}



@font-face {
    font-family: EpilepsySans;
    src: url('../src/font/EpilepsySans.ttf');
}



*{
    padding: 0;
    margin: 0;
    background-color: var(--theme-bg);
    font-family: EpilepsySans;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
    box-sizing: border-box;
    transition: .3s ease-in-out;
}