/*========== HEADER ==========*/

header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container{
    display: grid;
    align-items: center;
    justify-items: center;
}

.header__logo-text{
    font-size: 60px;
    color: var(--white-bios);
}



/*========== CONTOURS ==========*/

.password-generator {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: auto;
    width: 100%;
}

.password-generator__outer{
    width: calc(100% - 20px);
    height: calc(92vh - 20px);
    border: 5px solid var(--white-bios);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.password-generator__inner{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 5px solid var(--white-bios);
    box-sizing: border-box;
}

.password-generator__content{
    padding: 5% 15% 5% 15%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}



/*========== CONTAINERS ==========*/

.settings,
.output{
    margin: 10px;
    height: 100%;
    width: 48%;
    box-sizing: border-box;
}



/*========== SETTINGS FORM ==========*/

.settings__group{
    height: 100%;
    padding: 10px 140px 10px 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white-bios);
    margin-bottom: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.settings__separator{
    width: clamp(2rem, 20vw, 10rem);
    height: 2px;
    background-color: var(--white-bios);
    opacity: 60%;
    margin: 0;
}



/*========== RULES FORM ==========*/

.output {
    box-sizing: border-box;
    border: 4px solid var(--white-bios);
    color: var(--white-bios);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.output__mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.output__arrow {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--white-bios);
    background: none;
    border: none;
}

.output__arrow:hover{
    color: var(--yellow-bios);
    transform: scale(1.2);
}

.output__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white-bios);
}

.output__divider{
    width: 100%;
    height: 4px;
    background-color: var(--white-bios);
    margin: 0;
}

.output__rules {
    font-size: 1.5rem;
    line-height: 1.5;
    overflow-y: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 100%;
    margin: 10px 30px 10px 30px;
}

.output__rules p {
    margin-bottom: 10px;
    color: var(--white-bios);
    font-weight: bold;
}

.output__rules ol {
    padding-left: 20px;
    margin: 0;
    word-wrap: break-word;
}

.output__rules li {
    color: var(--white-bios);
    margin-bottom: 5px;
}



/*========== OUTPUT FORM ==========*/

.output__description,
.output__box{
    color: var(--white-bios);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output__description{
    font-size: clamp(1rem, 1.3vw, 1.6rem);
}

.output__container-output-word {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    color: var(--white-bios);
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    border: 2px solid var(--white-bios);
    margin-right: 20px;
    width: 70%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-user-select:text;
    -moz-user-select: text; 
    -webkit-user-select: text; 
    user-select: text; 
}

.output__copy-button{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--yellow-bios);
    border: 2px solid var(--yellow-bios);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.output__copy-button:hover{
    background: var(--yellow-bios);
    color: var(--black-bios);
}