/*========== HEADER ==========*/

header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    width: 240px;
}



/*========== CONTOURS ==========*/

.password-generator {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: auto;
    width: 100%;
}

.password-generator__outer,
.password-generator__inner{
    width: calc(100% - 20px);
    border: 5px solid var(--white-bios);
    box-sizing: border-box;
}

.password-generator__outer{
    height: calc(92vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-generator__inner{
    height: calc(100% - 20px);
}

.password-generator__content{
    padding: 5% 15% 5% 15%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}



/*========== CONTAINERS ==========*/

.settings,
.output{
    margin: 10px;
    height: 100%;
    width: 48%;
    box-sizing: border-box;
}



/*========== SETTINGS FORM ==========*/

.settings__group{
    height: 100%;
    padding: 10px 140px 10px 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--white-bios);
    margin-bottom: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.settings__separator{
    width: clamp(2rem, 20vw, 10rem);
    height: 2px;
    background-color: var(--white-bios);
    opacity: 60%;
    margin: 0;
}



/*========== RULES FORM ==========*/

.settings,
.output {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.output {
    border: 4px solid var(--white-bios);
    color: var(--white-bios);
    overflow: hidden;
}

.output__mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.output__arrow {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--white-bios);
    background: none;
    border: none;
}

.output__arrow:hover{
    color: var(--yellow-bios);
    transform: scale(1.2);
}

.output__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--white-bios);
}

.output__divider{
    width: 100%;
    height: 4px;
    background-color: var(--white-bios);
    margin: 0;
}

.output__rules {
    font-size: 1.6rem;
    line-height: 1.5;
    overflow-y: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 100%;
    margin: 10px 25px 10px 25px;
}

.output__rules p {
    margin-bottom: 10px;
    color: var(--white-bios);
    font-weight: bold;
}

.output__rules ol {
    padding-left: 25px;
    margin: 0;
    word-wrap: break-word;
}

.output__rules li {
    color: var(--white-bios);
    margin-bottom: 5px;
}



/*========== OUTPUT FORM ==========*/
.hidden {
    display: none;
}

.output__password{
    margin: 0px 40px;
}
.output__description,
.output__box{
    color: var(--white-bios);
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.output__description{
    font-size: clamp(1rem, 1.3vw, 1.6rem);
}

.output__container-output-word {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    color: var(--white-bios);
    white-space: nowrap;
    font-size: clamp(1.2rem, 1.4vw, 1.7rem);
    border: 2px solid var(--white-bios);
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-user-select:text;
    -moz-user-select: text; 
    -webkit-user-select: text; 
    user-select: text; 
}

.output__copy-button{
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 10px 20px;
    font-size: clamp(1.2rem, 1.3vw, 2rem);
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--yellow-bios);
    border: 2px solid var(--yellow-bios);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.output__copy-button:hover{
    background: var(--yellow-bios);
    color: var(--black-bios);
    transform: scale(1.1);
}

.output__container-copy-message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}
.output__copy-message {
    width: auto;
    display: inline-block;
    background: none;
    color: var(--yellow-bios);
    border: 2px solid;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out, visibility 0.3s;
}

.output__copy-message.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.output__box .output__divider{
    margin-top: 20%;
    display: inline-block;
    width: 80%;
}
.output__container-hacking-time{
    margin-top: 3%;
}

.output__container-hacking-time .output__description{
    font-size: 2rem;
    margin-bottom: 4%;
}

.output__hacking-time{
    font-size: 2.5rem;
    color: var(--yellow-bios);
    font-weight: bold;
}

