@media (max-width: 1190px) {
    .password-generator__content{
        padding: 5% 10% 5% 10%;
    }
    
    .output__arrow, .output__title {
        font-size: 1.8rem;
    }

    .output__rules {
        font-size: 1.4rem;
    }
}



@media (max-width: 1024px) {
    header{
        justify-content: right;
        margin-right: 15px;
    }

    .header__logo{
        width: 220px;
    }

    .settings-panel{
        width: 250px;
    }

    .settings-panel__content{
        padding: 10px;
    }

    .settings-panel__close-btn,
    .settings-panel__header{
        font-size: 30px;
    }

    .settings-panel__section-theme,
    .settings-panel__section-lng{
        font-size: 25px;
    }

    .theme-button,
    .lng-button{
        font-size: 20px;
    }
    .password-generator__content{
        padding: 5% 5% 5% 5%;
    }

    .output__arrow, .output__title {
        font-size: 1.8rem;
    }

    .output__rules {
        font-size: 1.4rem;
    }
}



@media (max-width: 768px) {
    .header__logo{
        width: 180px;
    }

    .password-generator__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password-generator__outer{
        height: calc(180vh);
        border: 5px solid var(--white-bios);
    }

    .settings,
    .output {
        width: 100%;
        margin: 20px 0;
    }

    .output__arrow, .output__title {
        font-size: 1.8rem;
    }

    .output__rules {
        font-size: 1.4rem;
    }


}



@media (max-width: 480px) {
    .header__logo{
        width: 130px;
    }

    .settings-panel{
        width: 200px;
    }

    .settings__container-checkbox{
        white-space: nowrap;
        gap: 15px;
    }

    .settings__input-text{
        font-size: 1.2rem;
    }

    .settings__group{
        padding: 0;
    }

    .settings__button-generate {
        font-size: 1.7rem;
        padding: 8px 16px;
    }

    .output,
    .password-generator__outer,
    .password-generator__inner{
        border: 2px solid var(--white-bios);
    }
    
    .output__divider{
        height: 2px;
    }

    label,
    .output__rules,
    .settings__label{
        font-size: 1.25rem;
    }

    label input + label::before {
        width: 25px;
        height: 25px;
    }

    label input:checked + label::after {
        font-size: 18px;
        left: 6px;
    }
    .output__arrow, .output__title {
        font-size: 2rem;
    }
}